.footer-bottom {
    color: white;
    background: #333;
}

/* FOOTER STYLES */
.mike-footer {
    color: #eee;
    background-color: #333;
    
}

.footer-top-half {

}

.top-col {
    padding-top: 3%;
    padding-bottom:0%;
}

.inner-col {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: 0;
}

.footer-mcm h2 {
    padding-top: 5px;
    font-size: 48px;

}

.footer-mcm h2 {
    margin-top:5px;

    font-family: "Adobe Caslon";
}
.footer-mcm h3 {
    font-size: 48px;
    padding-left: 3px;
    font-size: 30px;
    font-family: "Adobe Caslon";

}

.img-mcm {
    width: 200px;
    margin: 3% auto 1%;
}

.img-equal {
    display: block;
    
    max-width: 100px;
}
.contact-col .list-group .list-group-item:nth-child(n - 1) {
    flex-direction: column;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contact-col .list-group .text-nowrap {
    margin-bottom: 2px;
}


/* FOOTER TOP HALF*/ 

.contact-h3 {
    font-size: 36px;
    font-family: 'Adobe-Caslon';
}


/*  CONTACT FORM 7 */
.wpcf7-form {
}
.wpcf7-form:last-child {
    max-width: 570px;
}

.m-footer-form .wpcf7-submit {
    display: block;
    margin: 0 auto;
    max-width: 570px;
}

.m-footer-form .wpcf7-submit {
    background-color: #610327;
}


/* ////////FOOTER-BOTTOM ///////*/

.footer-bottom-half {
    background-color: #222;
    padding-top: 4%;

}

/* FOOTER LEFT COLUM*/



#equal-image-wrapper {
    background-color: #eee;
    padding: 25px;
    
}



.mike-footer button.list-group-item {
    font-size: 24px;
    width:100% !important;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-mcm {
    margin: 0;
}

.footer-links-col {
    vertical-align: center;
}



/* FOOTER CONTACT INFO */
.footer-contact {
    max-width: 90%;
    font-size: 24px;
}
.footer-contact .list-group-item {
    background-color: rgba(2,2,2,0.0);
}

.footer-contact li {
    font-size: 24px;
    border: 0;
}

.contact-col {
    display:flex;
    flex-direction: row;
}

#carousel-module-grid {
    background-color: #610327;
}

.footer-image-col {
    text-align: left;
}
.footer-image-col p {
    float:right;
    font-size: 18px;
}
.m-footer-form {
}

/* FOOTER LINKS */

.footer-links {
    font-size: 18px;
    /* background-color: #555; */
    max-width: 90%;
}
.footer-links .list-group-item {
    transition: all ease-in;
    background-color: #333;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0.1px solid #eee !important;
    border-radius: 10px;
    text-align: center;
    float: right;
    padding-bottom: 5px;
    border: 0 solid #ddd;
}
.footer-links .list-group-item:hover {
    color: #333;
}

  

button.list-group-item {
    border: 0.4px solid white;
    background-color: #444;
}


button.list-group-item span {
    color: black;
    padding-left: 10px;
}
.list-group-item  i {
    width: 23px;
}


.footer-links .list-group-item, 
.footer-links .list-group-item span,
.footer-links .list-group-item span i {
   
    color: #eee ;
    vertical-align: center;
}

p > .wpcf7-submit {
    transition: all 0.4s ease;
    border: #222;
}

p > .wpcf7-submit:hover { 
    background-color: white;
    color: #610327;
}

.img-realtors{
  height: 100px;
  margin: 0 auto;
}

.equal-image-wrapper {
    background-color:white;
}
#equal-image-wrapper {
    background: url('/mcm/wp-content/themes/houzez-child/images/EqualRealtors.png') center no-repeat;
    height: 100px;
    width: 80%''
}

.mike-footer-bottom {
    background-color: #333;
    height: 60px;
    padding-top: 100px;
}

.footer-p {
    font-size: 24px;
}

.img-realtors {
    margin-left: auto;
}

.form-col {
    height: 100%;
}

.form-col-inner {

}

.col-md-3 .contact-h3 {
    text-align: center;
    font-family: "Adobe-Caslon"
}


@media screen and (max-width: 768px) {
    #equal-image-wrapper {
        text-align: center;
    }

    .footer-links {
        margin-top: 35px;
    }

    .footer-links .list-group-item {
        left: -25px;
    }
    
}

.footer-about-h3 {
    font-size: 36px;
    text-align: center;
    font-family: Adobe-Caslon;
}


@media screen and (min-width: 768px) {
    .contact-col {
    padding-right: 0px;
    }
 

    .footer-bottom-half .col-sm-3 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 992px) {
  

}

@media screen and (min-width: 992px) {
    .footer-left-col {
        padding-left: 15px;
    }  
    .inner-col {
        max-width: 90%;
    }  
    #equal-image-wrapper {
        max-width: 90%;
    }
  
    .footer-links .list-group-item span:hover  {
        color: #333!important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    

}

@media screen and (max-width: 1200px) {
    .mike-footer button.list-group-item {
        font-size: 14px;
    }
}