.houzez-header-mobile .container {
    margin-right: 0
}

#header-section {
    background-color: rgba(255,255,255,0.6) !important;
}

.header-section-4 .header-left .navi {
    margin-left: 1%;
}

.header-left img {
    max-width: 175px;
}

.menu-item a {
    margin-top: 5px;
    color: black !important;
}

#navbar {
    border: 0;
}

.inner-col .list-group-item {
    background-color : rgba(255,255,255, 0);
}

.navbar-default {
    background-color: rgba(255,255,255, 0.3);
}

.navbar-brand {
    padding-top: 0px;
    padding-right: 5px;
}

.navbar-nav li {
    border-right: 3px solid #fff;
}

.navbar-nav li:first-child {
    border-left: 3px solid white;
  }


.navbar-header > .navbar-toggle {
    display: none;
}


#TopBar {
    display: flex;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 1px;
    color: #eee;
    background-color: #610327 !important;
    height: 30px;
    padding-top: 6px;
    padding-left: 18px;
    font-family: "Adobe-Caslon";
    flex-direction: row;
}
#TopBar > span {
    padding-top: 0px;
    padding-right: 0;
    padding-left: 0;
    font-size: 12px;
}
#NaviBar {
    background-color: rgba(255,255,255,0.7);
    height: 100px;
    border: 0;
}
#NaviBar img {
    max-height: 100px;
}

.navbar-header {
}

#MCMLogo2 {
    padding-top: 5px;
}

.article-detail ul {
    margin-top: 0;
    padding-left: 10px;
}

#NaviBar ul {
    font-weight: bold;
}

#NaviBar li a {
    color: #222;
    background-color: rgba(255,255,255, 0);
    font-weight: bold;
    font-family: Roboto;
}

#NaviBar li:hover {
    background-color: rgba(255,255,255,0.4);
}


@media screen and (max-width: 1200px) {
    
  
}

@media screen and (max-width: 1020px) {
    #Navibar li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    #NaviBar {
        padding-left:29px;
    }
    .m-image-wrapper {
        max-width: 100%;
    }
    .red-wrapper {
        justify-content: center;
    }
    .m-image-wrapper2 {
        width: 90%;
        }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        border-top: 1px solid transparent;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }
    .navbar-nav >li {
        float: none;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .collapsing {
        overflow: hidden !important;
    }
}

@media screen and (max-width: 768x) {
    #NaviBar {
        padding-left:15px;
    }
}

@media screen and (min-width: 1200px) {
    #NaviBar li a {
        font-size: 18px;
        }
        .header-section-4 .navi ul li a  {
            font-size: 18px;
        }
    
}





@media screen and (min-width: 1500px) {

    #NaviBar {
    }

    #NaviBar li a {
    }
    #TopBar {
    }
    #TopBar span {
    }
    #NaviBar img {
    }

} 